body {
  background-image: url("cover.webp");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}
html,
body {
  filter: none !important;
  -webkit-filter: none !important;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}

.subtitle {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  font-style: italic;
}

h1 {
  text-align: center;
  margin: 0;
}

h2 {
  text-align: center;
  margin: 0;
}
/* Meniu responsiv */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f1c40f;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav li {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  nav a {
    border-bottom: 1px solid black;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100px;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
/* Stiluri pentru meniu */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: antiquewhite;
  padding: 20px;
  position: fixed; /* meniul va fi fix pe pagina */
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; /* meniul va fi plasat peste alte elemente */
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li {
  position: relative; /* necesar pentru dropdown */
  margin-right: 20px;
}

nav ul li a {
  color: burlywood;
  text-decoration: none;
  padding: 10px;
  display: block;
}

nav ul li a:hover {
  background-color: #555;
}

nav ul li.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f1c40f;
  min-width: 100px;
}

nav ul li.dropdown:hover .dropdown-menu {
  display: block;
}

nav ul li .dropdown-menu li {
  margin: 0;
}

nav ul li .dropdown-menu li a {
  padding: 10px;
  color: antiquewhite;
}

@media only screen and (max-width: 768px) {
  /* Meniu responsiv */
  .menu-toggle {
    display: block;
    top: 100;
    margin-top: 10px;
  }

  nav {
    display: none;
  }

  nav ul {
    flex-direction: column;
    background-color: #f1c40f;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  nav ul li a {
    border-bottom: 1px solid black;
  }

  .dropdown-menu {
    display: none;
    position: static;
    min-width: 200px;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/* Stiluri pentru butonul de meniu */
.menu-toggle {
  display: none;
}

.menu-toggle {
  display: block;
  position: relative;
  width: 20px;
  height: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.menu-toggle span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.menu-toggle span:nth-child(1) {
  top: 0;
  left: 0;
}

.menu-toggle span:nth-child(2) {
  top: 8px;
  left: 0;
}

.menu-toggle span:nth-child(3) {
  bottom: 0;
  left: 0;
}

.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 8px;
}

.menu-toggle {
  display: block;
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.menu-toggle:hover {
  background-color: #333;
  color: #fff;
}

nav ul {
  display: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  display: block;
  padding: 10px;
  background-color: #555;
  color: antiquewhite;
}

nav ul li a:hover {
  background-color: floralwhite;
}

.active {
  display: block;
}
/* stiluri pentru ecrane mai mari de 768px */
@media only screen and (min-width: 768px) {
  /* lăsați meniul să fie vertical */
  /* înlocuiți aceste stiluri */
  .menu {
    flex-direction: column;
  }
  /* cu acestea */
  nav ul {
    display: flex;
    flex-direction: row;
  }
}

/* stiluri pentru ecrane mai mici de 768px */
@media only screen and (max-width: 768px) {
  /* faceți meniul orizontal */
  .menu {
    display: flex;
    flex-direction: row;
  }
}

/* Butonul este afișat doar pe ecrane mici */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}

/* Butonul este ascuns pe ecrane mari */
@media screen and (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  nav.active {
    position: relative;
    z-index: 9999;
    top: 100%;
    margin-top: 10px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #555;
  padding: 20px;
  position: relative;
  z-index: 9999;
}

#meniu {
  top: 70px;
  position: absolute;
  z-index: 9999;
  /* alte stiluri aici */
}

/*Carousel */
/* Style for the carousel */
.carousel {
  margin: auto;
  width: 70%; /* sau orice altă lățime dorită */
}
.carousel-inner img[src="drap11.jpg"] {
  object-fit: contain;
  width: 90%;
  height: 90%;
}

.carousel-inner img {
  width: 60%;
  max-height: 600px;
}

.carousel-caption {
  background-color: #333;
  opacity: 0.5;
  padding: 10px 20px;
  color: #fff;
  border-radius: 10px;
}

.carousel-caption h3 {
  font-size: 25px;
  font-weight: bold;
}

.carousel-indicators li {
  background-color: aqua;
}

.carousel-indicators .active {
  background-color: #333;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

/* Style for the left and right control buttons */
.carousel-control {
  color: #f1c40f;
  opacity: 0.5;
  text-align: center;
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}

.carousel-control:hover,
.carousel-control:focus {
  color: burlywood;
  opacity: 0.9;
  outline: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}

.carousel-control.left {
  left: 0;
}

.carousel-control.right {
  right: 0;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  left: 50%;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  right: 50%;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  font-size: 30px;
  margin-top: -15px;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
  font-size: 20px;
  margin-top: -10px;
}
.carousel-inner img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .carousel-inner img {
    width: 60%;
  }
}

.carousel {
  margin-bottom: 20px; /* Adaugă un spațiu de 20px între carusel și footer */
}

/* Footer */
/* Stilizare footer */
footer {
  background-color: bisque;
  padding: 40px 0;
  color: #333;
  font-family: Arial, sans-serif;
}

.contact-container {
  flex-basis: 60%;
  text-align: left;
}

.subscribe-container {
  flex-basis: 40%;
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

/* Stilizare buton */
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #555;
}

/* Stilizare input */
.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Stilizare sageata sus */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f1c40f;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  transition: background-color 0.3s, transform 0.3s;
}
.back-to-top {
  display: inline-block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}
.back-to-top:hover {
  background-color: #e6b90e;
  transform: scale(1.1);
}

/* Stilizare animație AOS */
[data-aos] {
  opacity: 0;
  transition: opacity 0.5s;
}

[data-aos="fade-up"] {
  opacity: 1;
}

/* Stilizare elemente sociale */
.social-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.social-links ul a {
  color: #000;
  margin-right: 10px;
  font-size: 24px;
}

.social-links ul a:hover {
  color: #007bff;
}
.social-links li {
  margin-left: 10px;
}

.social-links a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
}

.social-links a:hover {
  color: #555;
}
/* Stilizare responsivitate */
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
  .subscribe-container {
    margin-top: 30px;
  }
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .subscribe-buttons-container {
    margin-top: 10px;
  }
  .subscribe-form {
    display: flex;
    align-items: center;
  }
  .contact-container,
  .subscribe-container {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}
.social-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-links ul a {
  margin: 0 5px;
  font-size: 24px;
  color: #007bff;
  transition: color 0.3s;
}

.social-links ul a:hover {
  color: #0056b3;
}
.footer-container {
  width: 40%;
  padding: 30px;
  margin: 0 auto;
}

ul {
  font-size: 14px; /* Micșorează dimensiunea fontului */
  line-height: 1.5; /* Micșorează înălțimea liniei */
}
/*Adresa */
.adresa-title {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.adresa-detalii {
  display: block;
}

.adresa-title i {
  margin-right: 5px;
}
