/* Thumbnail */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 940px; /* Setează lățimea maximă a containerului */
  margin: 0 auto; /* Centrează containerul pe pagină */
}
.column {
  width: calc(
    50% - 30px
  ); /* Calculează lățimea coloanelor pentru a le încadra pe orizontală */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.card {
  border: 8px solid gray;
  overflow: hidden;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

.image-container {
  position: relative;
}

#firstImage,
#secondImage,
#thirthImage,
#fourthImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  background-color: antiquewhite;
}

.thumbnail {
  width: 60px;
  height: 60px;
  border: 10px solid gray;
  cursor: pointer;
  transition: opacity 0.3s ease;
  margin: 0 5px;
}

.caption {
  text-align: center;
  margin-top: 10px;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  cursor: pointer;
}

.left-arrow {
  left: 5px;
}

.right-arrow {
  right: 5px;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }
  .column {
    margin: 10px 0;
  }
}
